body {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.hoverbro {
  width: 100px;
  background-color: lightcoral;
  height: 100px;
  cursor: pointer;
  transition: background-color 1s, transform 2s 1s;
}

.hoverbro:hover {
  background-color: blue;
  transform: rotate(360deg);
}
