* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  background-color: cadetblue;
  width: 800px;
  margin: 40px auto;
}

.item {
  font-size: 72px;
  background-color: yellow;
  /* width: calc(33.3333% - 10px); */
  margin: 5px;
  padding: 20px 40px;
}
